{
    frankenphp {
        php_ini display_errors On
        php_ini error_reporting E_ALL
        php_ini log_errors On
        php_ini error_log /dev/stderr
    }
}

:{$PORT}

root * /app

log {
    output stderr
    format json
}

route {
    php index.php
}