:{$PORT}

root * .

log {
    output stderr
    format json
}

handle {
    # Réécrire toutes les requêtes vers router.php
    rewrite * /router.php

    # Passer la requête au moteur PHP-FPM intégré de FrankenPHP
    php_fastcgi {
        root .
    }
}